/* Hero section */

.hero {
    background: url(../img/post-image.jpg) center no-repeat;
    
    background-size: cover;
    height: 100vh;
    text-align: center;
    position: relative;

    &__title {
        font-size: $xx-large;
        font-family: $playfair;
        font-weight: $black;
        position: relative;
        display: inline-block;
        width: 40%;
        top: 25%;
        transform: translateY(-25%);
    }

    &__arrows {
        width: fit-content;
        transition: .3s;
        position: relative;
        top: 75%;

        &:hover {
            opacity: 0.5;
        }
    }
}